.myButton {
    font-size: 13px;
    line-height: 15px;
    cursor: pointer;
    padding: 0px;
    padding-left: 5px;
    border: none;
    text-decoration: underline dashed;
    text-underline-offset: 3px;

    background-color: inherit;
    color: #1698D9;
}

.myButton:hover {
    color: #22A7E9;
}