.header {
    font-family: 'Exo2.0 Thin';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
   
    color: #fff;
    text-shadow: 0px 1px 1px #000000;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    
    margin-top: 25px;
    
    gap: 80px;
    height: 100%;
    min-height: 100%;
}