@font-face {
  font-family: 'Exo2.0 Thin';
  src: local('Exo2.0 Thin'), 
       url('./assets/fonts/Exo2.0-Thin.otf');
}

body, html, #root, .App{
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  background: url('./assets/backgroundPattern.png');
  font-family: 'Trebuchet MS', 'Roboto';
}

#root {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 49.88%, rgba(0, 0, 0, 0.5) 100%);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

